h2{
    margin: 10px 10px 4px 10px;
    padding: 0px;
}

h3{
    margin: 10px 10px 4px 0px;
}

img {
    width:200px ;
    height:200px;
    display:flex;
}

body{
   background-color: rgb(94, 116, 163);
   color:white
   
}

ul, li {
    margin:0 0 8px 0;
    padding: 0;
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}

.column {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.top {
    gap: 20px;
    flex-wrap: wrap;
    flex-basis: 100vh;
    justify-content: flex-start;
    justify-items:flex-start;
}

.intro{
    gap:8px;
    flex-basis: 400px;
    flex-grow: 1;
    border-left: 2px double white
}

.images {
    padding: 5px;
    flex-basis:200px;
    max-width:400px;
    flex-wrap: wrap;
    flex-grow:1;
}
.header {
    border-bottom: 2px solid white;
    margin: 0 0 6px 0;
}

.adescription, .atrivia {
    min-width: 115px;
    margin: 16px 0;
}


.cards {
    gap:20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    margin:initial;
    padding:8px;
    border: 2px double white;
    flex-grow: 0;
    flex-basis:300px;
    background-color: rgb(84, 90, 136);
}

.background {
    background-color: black;
    border: 2px solid white;
    padding: 8px;
}

.distance {
    margin:200px 0;
}