h2, h3{
    margin: 10px 10px 4px 10px;
    padding: 0px;
}

img {
    width:200px ;
    height:200px;
}

body{
   background-color: rgb(94, 116, 163);
   color:white
   
}

ul, li {
    margin:0 0 8px 0;
    padding: 0;
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.top {
    gap: 20px;
}

.intro{
    gap:8px;
}

.images {
    padding: 5px;
    border: 2px solid white;
    flex: 0;
}
.header {
    border-bottom: 2px solid white;
}

.adescription, .atrivia {
    min-width: 115px;
}


.cards {
    gap:20px;
}

.card{
    margin:initial;
    padding:8px;
    border: 2px double white;
    flex-grow: 0;
    flex-basis:auto;
    background-color: rgb(84, 90, 136);
}